<record>
            <boolean id="preload" value="false"/>
            <boolean id="amap" value="false"/>
            <list id="maps">
                <record from="602_home_3d" to="graphics/pictures/team/602/kit_textures/home"/>
<record from="688_home_3d" to="graphics/pictures/team/688/kit_textures/home"/>
<record from="455778_home_3d" to="graphics/pictures/team/455778/kit_textures/home"/>
<record from="680_home_3d" to="graphics/pictures/team/680/kit_textures/home"/>
<record from="679_home_3d" to="graphics/pictures/team/679/kit_textures/home"/>
<record from="618_third_3d" to="graphics/pictures/team/618/kit_textures/third"/>
<record from="618_away_3d" to="graphics/pictures/team/618/kit_textures/away"/>
<record from="650_home_3d" to="graphics/pictures/team/650/kit_textures/home"/>
<record from="618_home_3d" to="graphics/pictures/team/618/kit_textures/home"/>
<record from="735_home_3d" to="graphics/pictures/team/735/kit_textures/home"/>
<record from="740_home_3d" to="graphics/pictures/team/740/kit_textures/home"/>
<record from="671_home_3d" to="graphics/pictures/team/671/kit_textures/home"/>
<record from="603_home_3d" to="graphics/pictures/team/603/kit_textures/home"/>
<record from="642_home_3d" to="graphics/pictures/team/642/kit_textures/home"/>
<record from="630_away_3d" to="graphics/pictures/team/630/kit_textures/away"/>
<record from="728_away_3d" to="graphics/pictures/team/728/kit_textures/away"/>
<record from="728_home_3d" to="graphics/pictures/team/728/kit_textures/home"/>
<record from="679_away_3d" to="graphics/pictures/team/679/kit_textures/away"/>
<record from="602_away_3d" to="graphics/pictures/team/602/kit_textures/away"/>
<record from="600_home_3d" to="graphics/pictures/team/600/kit_textures/home"/>
<record from="600_away_3d" to="graphics/pictures/team/600/kit_textures/away"/>
<record from="735_away_3d" to="graphics/pictures/team/735/kit_textures/away"/>
<record from="688_away_3d" to="graphics/pictures/team/688/kit_textures/away"/>
<record from="735_third_3d" to="graphics/pictures/team/735/kit_textures/third"/>
<record from="740_away_3d" to="graphics/pictures/team/740/kit_textures/away"/>
<record from="676_home_3d" to="graphics/pictures/team/676/kit_textures/home"/>
<record from="676_away_3d" to="graphics/pictures/team/676/kit_textures/away"/>
<record from="630_home_3d" to="graphics/pictures/team/630/kit_textures/home"/>
<record from="680_away_3d" to="graphics/pictures/team/680/kit_textures/away"/>
<record from="692_home_3d" to="graphics/pictures/team/692/kit_textures/home"/>
<record from="692_away_3d" to="graphics/pictures/team/692/kit_textures/away"/>
<record from="650_away_3d" to="graphics/pictures/team/650/kit_textures/away"/>
<record from="654_home_3d" to="graphics/pictures/team/654/kit_textures/home"/>
<record from="603_away_3d" to="graphics/pictures/team/603/kit_textures/away"/>
<record from="671_third_3d" to="graphics/pictures/team/671/kit_textures/third"/>
<record from="602_third_3d" to="graphics/pictures/team/602/kit_textures/third"/>
<record from="8112375_home_3d" to="graphics/pictures/team/8112375/kit_textures/home"/>
<record from="722_away_3d" to="graphics/pictures/team/722/kit_textures/away"/>
<record from="722_third_3d" to="graphics/pictures/team/722/kit_textures/third"/>
<record from="617_home_3d" to="graphics/pictures/team/617/kit_textures/home"/>
<record from="722_home_3d" to="graphics/pictures/team/722/kit_textures/home"/>
<record from="654_away_3d" to="graphics/pictures/team/654/kit_textures/away"/>
<record from="679_third_3d" to="graphics/pictures/team/679/kit_textures/third"/>
<record from="688_third_3d" to="graphics/pictures/team/688/kit_textures/third"/>
<record from="617_away_3d" to="graphics/pictures/team/617/kit_textures/away"/>
<record from="617_third_3d" to="graphics/pictures/team/617/kit_textures/third"/>
<record from="650_third_3d" to="graphics/pictures/team/650/kit_textures/third"/>
<record from="600_third_3d" to="graphics/pictures/team/600/kit_textures/third"/>
<record from="630_third_3d" to="graphics/pictures/team/630/kit_textures/third"/>
<record from="728_third_3d" to="graphics/pictures/team/728/kit_textures/third"/>
<record from="680_third_3d" to="graphics/pictures/team/680/kit_textures/third"/>
<record from="740_third_3d" to="graphics/pictures/team/740/kit_textures/third"/>
<record from="692_third_3d" to="graphics/pictures/team/692/kit_textures/third"/>
<record from="609_away_3d" to="graphics/pictures/team/609/kit_textures/away"/>
<record from="639_home_3d" to="graphics/pictures/team/639/kit_textures/home"/>
<record from="639_away_3d" to="graphics/pictures/team/639/kit_textures/away"/>
<record from="676_third_3d" to="graphics/pictures/team/676/kit_textures/third"/>
<record from="673_home_3d" to="graphics/pictures/team/673/kit_textures/home"/>
<record from="673_away_3d" to="graphics/pictures/team/673/kit_textures/away"/>
<record from="673_third_3d" to="graphics/pictures/team/673/kit_textures/third"/>
<record from="701_home_3d" to="graphics/pictures/team/701/kit_textures/home"/>
<record from="701_away_3d" to="graphics/pictures/team/701/kit_textures/away"/>
<record from="701_third_3d" to="graphics/pictures/team/701/kit_textures/third"/>
<record from="642_away_3d" to="graphics/pictures/team/642/kit_textures/away"/>
<record from="642_third_3d" to="graphics/pictures/team/642/kit_textures/third"/>
<record from="713_home_3d" to="graphics/pictures/team/713/kit_textures/home"/>
<record from="713_away_3d" to="graphics/pictures/team/713/kit_textures/away"/>
<record from="713_third_3d" to="graphics/pictures/team/713/kit_textures/third"/>
<record from="645_home_3d" to="graphics/pictures/team/645/kit_textures/home"/>
<record from="645_away_3d" to="graphics/pictures/team/645/kit_textures/away"/>
<record from="612_away_3d" to="graphics/pictures/team/612/kit_textures/away"/>
<record from="667_home_3d" to="graphics/pictures/team/667/kit_textures/home"/>
<record from="685_home_3d" to="graphics/pictures/team/685/kit_textures/home"/>
<record from="685_away_3d" to="graphics/pictures/team/685/kit_textures/away"/>
<record from="699_home_3d" to="graphics/pictures/team/699/kit_textures/home"/>
<record from="699_away_3d" to="graphics/pictures/team/699/kit_textures/away"/>
<record from="699_third_3d" to="graphics/pictures/team/699/kit_textures/third"/>
<record from="603_third_3d" to="graphics/pictures/team/603/kit_textures/third"/>
<record from="622_third_3d" to="graphics/pictures/team/622/kit_textures/third"/>
<record from="686_home_3d" to="graphics/pictures/team/686/kit_textures/home"/>
<record from="686_away_3d" to="graphics/pictures/team/686/kit_textures/away"/>
<record from="695_home_3d" to="graphics/pictures/team/695/kit_textures/home"/>
<record from="695_away_3d" to="graphics/pictures/team/695/kit_textures/away"/>
<record from="741_home_3d" to="graphics/pictures/team/741/kit_textures/home"/>
<record from="741_away_3d" to="graphics/pictures/team/741/kit_textures/away"/>
<record from="665_home_3d" to="graphics/pictures/team/665/kit_textures/home"/>
<record from="665_away_3d" to="graphics/pictures/team/665/kit_textures/away"/>
<record from="721_home_3d" to="graphics/pictures/team/721/kit_textures/home"/>
<record from="671_away_3d" to="graphics/pictures/team/671/kit_textures/away"/>
<record from="721_third_3d" to="graphics/pictures/team/721/kit_textures/third"/>
<record from="734_home_3d" to="graphics/pictures/team/734/kit_textures/home"/>
<record from="734_third_3d" to="graphics/pictures/team/734/kit_textures/third"/>
<record from="709_home_3d" to="graphics/pictures/team/709/kit_textures/home"/>
<record from="734_away_3d" to="graphics/pictures/team/734/kit_textures/away"/>
<record from="741_third_3d" to="graphics/pictures/team/741/kit_textures/third"/>
<record from="667_third_3d" to="graphics/pictures/team/667/kit_textures/third"/>
<record from="685_third_3d" to="graphics/pictures/team/685/kit_textures/third"/>
<record from="686_third_3d" to="graphics/pictures/team/686/kit_textures/third"/>
<record from="695_third_3d" to="graphics/pictures/team/695/kit_textures/third"/>
<record from="665_third_3d" to="graphics/pictures/team/665/kit_textures/third"/>
<record from="708_third_3d" to="graphics/pictures/team/708/kit_textures/third"/>
<record from="639_third_3d" to="graphics/pictures/team/639/kit_textures/third"/>
<record from="612_third_3d" to="graphics/pictures/team/612/kit_textures/third"/>
<record from="645_third_3d" to="graphics/pictures/team/645/kit_textures/third"/>
<record from="709_third_3d" to="graphics/pictures/team/709/kit_textures/third"/>
<record from="915_home_3d" to="graphics/pictures/team/915/kit_textures/home"/>
<record from="316_home_3d" to="graphics/pictures/team/316/kit_textures/home"/>
<record from="316_third_3d" to="graphics/pictures/team/316/kit_textures/third"/>
<record from="316_away_3d" to="graphics/pictures/team/316/kit_textures/away"/>
<record from="329_home_3d" to="graphics/pictures/team/329/kit_textures/home"/>
<record from="329_away_3d" to="graphics/pictures/team/329/kit_textures/away"/>
<record from="329_third_3d" to="graphics/pictures/team/329/kit_textures/third"/>
<record from="322_home_3d" to="graphics/pictures/team/322/kit_textures/home"/>
<record from="322_away_3d" to="graphics/pictures/team/322/kit_textures/away"/>
<record from="322_third_3d" to="graphics/pictures/team/322/kit_textures/third"/>
<record from="319_home_3d" to="graphics/pictures/team/319/kit_textures/home"/>
<record from="319_away_3d" to="graphics/pictures/team/319/kit_textures/away"/>
<record from="319_third_3d" to="graphics/pictures/team/319/kit_textures/third"/>
<record from="323_home_3d" to="graphics/pictures/team/323/kit_textures/home"/>
<record from="323_away_3d" to="graphics/pictures/team/323/kit_textures/away"/>
<record from="323_third_3d" to="graphics/pictures/team/323/kit_textures/third"/>
<record from="326_home_3d" to="graphics/pictures/team/326/kit_textures/home"/>
<record from="326_away_3d" to="graphics/pictures/team/326/kit_textures/away"/>
<record from="326_third_3d" to="graphics/pictures/team/326/kit_textures/third"/>
<record from="324_home_3d" to="graphics/pictures/team/324/kit_textures/home"/>
<record from="324_away_3d" to="graphics/pictures/team/324/kit_textures/away"/>
<record from="324_third_3d" to="graphics/pictures/team/324/kit_textures/third"/>
<record from="321_home_3d" to="graphics/pictures/team/321/kit_textures/home"/>
<record from="321_away_3d" to="graphics/pictures/team/321/kit_textures/away"/>
<record from="321_third_3d" to="graphics/pictures/team/321/kit_textures/third"/>
<record from="314_home_3d" to="graphics/pictures/team/314/kit_textures/home"/>
<record from="314_away_3d" to="graphics/pictures/team/314/kit_textures/away"/>
<record from="314_third_3d" to="graphics/pictures/team/314/kit_textures/third"/>
<record from="337_home_3d" to="graphics/pictures/team/337/kit_textures/home"/>
<record from="337_away_3d" to="graphics/pictures/team/337/kit_textures/away"/>
<record from="337_third_3d" to="graphics/pictures/team/337/kit_textures/third"/>
<record from="339_away_3d" to="graphics/pictures/team/339/kit_textures/away"/>
<record from="339_home_3d" to="graphics/pictures/team/339/kit_textures/home"/>
<record from="339_third_3d" to="graphics/pictures/team/339/kit_textures/third"/>
<record from="335_home_3d" to="graphics/pictures/team/335/kit_textures/home"/>
<record from="335_away_3d" to="graphics/pictures/team/335/kit_textures/away"/>
<record from="335_third_3d" to="graphics/pictures/team/335/kit_textures/third"/>
<record from="317_home_3d" to="graphics/pictures/team/317/kit_textures/home"/>
<record from="317_away_3d" to="graphics/pictures/team/317/kit_textures/away"/>
<record from="317_third_3d" to="graphics/pictures/team/317/kit_textures/third"/>
<record from="104750_home_3d" to="graphics/pictures/team/104750/kit_textures/home"/>
<record from="104750_away_3d" to="graphics/pictures/team/104750/kit_textures/away"/>
<record from="104750_third_3d" to="graphics/pictures/team/104750/kit_textures/third"/>
<record from="315_home_3d" to="graphics/pictures/team/315/kit_textures/home"/>
<record from="315_away_3d" to="graphics/pictures/team/315/kit_textures/away"/>
<record from="315_third_3d" to="graphics/pictures/team/315/kit_textures/third"/>
<record from="340_home_3d" to="graphics/pictures/team/340/kit_textures/home"/>
<record from="340_away_3d" to="graphics/pictures/team/340/kit_textures/away"/>
<record from="340_third_3d" to="graphics/pictures/team/340/kit_textures/third"/>
<record from="327_home_3d" to="graphics/pictures/team/327/kit_textures/home"/>
<record from="327_away_3d" to="graphics/pictures/team/327/kit_textures/away"/>
<record from="327_third_3d" to="graphics/pictures/team/327/kit_textures/third"/>
<record from="104749_home_3d" to="graphics/pictures/team/104749/kit_textures/home"/>
<record from="104749_away_3d" to="graphics/pictures/team/104749/kit_textures/away"/>
<record from="104749_third_3d" to="graphics/pictures/team/104749/kit_textures/third"/>
<record from="338_home_3d" to="graphics/pictures/team/338/kit_textures/home"/>
<record from="338_away_3d" to="graphics/pictures/team/338/kit_textures/away"/>
<record from="338_third_3d" to="graphics/pictures/team/338/kit_textures/third"/>
<record from="301344_home_3d" to="graphics/pictures/team/301344/kit_textures/home"/>
<record from="301344_away_3d" to="graphics/pictures/team/301344/kit_textures/away"/>
<record from="301344_third_3d" to="graphics/pictures/team/301344/kit_textures/third"/>
<record from="58137861_home_3d" to="graphics/pictures/team/58137861/kit_textures/home"/>
<record from="58137861_away_3d" to="graphics/pictures/team/58137861/kit_textures/away"/>
<record from="58145316_home_3d" to="graphics/pictures/team/58145316/kit_textures/home"/>
<record from="58145316_away_3d" to="graphics/pictures/team/58145316/kit_textures/away"/>
<record from="58145316_third_3d" to="graphics/pictures/team/58145316/kit_textures/third"/>
<record from="1301106_home_3d" to="graphics/pictures/team/1301106/kit_textures/home"/>
<record from="1301106_away_3d" to="graphics/pictures/team/1301106/kit_textures/away"/>
<record from="1518_home_3d" to="graphics/pictures/team/1518/kit_textures/home"/>
<record from="1518_away_3d" to="graphics/pictures/team/1518/kit_textures/away"/>
<record from="58046584_home_3d" to="graphics/pictures/team/58046584/kit_textures/home"/>
<record from="58046584_away_3d" to="graphics/pictures/team/58046584/kit_textures/away"/>
<record from="58046584_third_3d" to="graphics/pictures/team/58046584/kit_textures/third"/>
<record from="1520_home_3d" to="graphics/pictures/team/1520/kit_textures/home"/>
<record from="1520_away_3d" to="graphics/pictures/team/1520/kit_textures/away"/>
<record from="1520_third_3d" to="graphics/pictures/team/1520/kit_textures/third"/>
<record from="58029064_home_3d" to="graphics/pictures/team/58029064/kit_textures/home"/>
<record from="58029064_away_3d" to="graphics/pictures/team/58029064/kit_textures/away"/>
<record from="1523_home_3d" to="graphics/pictures/team/1523/kit_textures/home"/>
<record from="1523_away_3d" to="graphics/pictures/team/1523/kit_textures/away"/>
<record from="1525_home_3d" to="graphics/pictures/team/1525/kit_textures/home"/>
<record from="1525_away_3d" to="graphics/pictures/team/1525/kit_textures/away"/>
<record from="1525_third_3d" to="graphics/pictures/team/1525/kit_textures/third"/>
<record from="58127493_home_3d" to="graphics/pictures/team/58127493/kit_textures/home"/>
<record from="58127493_away_3d" to="graphics/pictures/team/58127493/kit_textures/away"/>
<record from="58145944_home_3d" to="graphics/pictures/team/58145944/kit_textures/home"/>
<record from="58145944_away_3d" to="graphics/pictures/team/58145944/kit_textures/away"/>
<record from="58145944_third_3d" to="graphics/pictures/team/58145944/kit_textures/third"/>
<record from="1301104_home_3d" to="graphics/pictures/team/1301104/kit_textures/home"/>
<record from="1301104_away_3d" to="graphics/pictures/team/1301104/kit_textures/away"/>
<record from="130509_home_3d" to="graphics/pictures/team/130509/kit_textures/home"/>
<record from="130509_away_3d" to="graphics/pictures/team/130509/kit_textures/away"/>
<record from="130509_third_3d" to="graphics/pictures/team/130509/kit_textures/third"/>
<record from="58145347_home_3d" to="graphics/pictures/team/58145347/kit_textures/home"/>
<record from="58145347_away_3d" to="graphics/pictures/team/58145347/kit_textures/away"/>
<record from="58145347_third_3d" to="graphics/pictures/team/58145347/kit_textures/third"/>
<record from="1529_home_3d" to="graphics/pictures/team/1529/kit_textures/home"/>
<record from="1529_away_3d" to="graphics/pictures/team/1529/kit_textures/away"/>
<record from="1529_third_3d" to="graphics/pictures/team/1529/kit_textures/third"/>
<record from="1301108_home_3d" to="graphics/pictures/team/1301108/kit_textures/home"/>
<record from="1301108_away_3d" to="graphics/pictures/team/1301108/kit_textures/away"/>
            </list>
        </record>